<title>Hakkımızda</title>
<div class="container my-5 tarihceLogo">
    <header class="text-center">
        <div class="row">
            <div class="col-md-5 d-none d-sm-block p-2">
            </div>
            <div class="col-md-2 p-2">
                <div class="logoDiv">
                    <img src="~/img/COINEXEN-removebg-preview.png" alt="">
                </div>

            </div>
            <div class="col-md-5 d-none d-sm-block p-2">
            </div>
        </div>

    </header>
</div>


<div class=" container my-5">
    <div class="text-center text-white my-4">
        <h2>TARİHÇE</h2>
    </div>
    <div class="text-white" style="text-align:justify;">
        <p class="px-2">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum exercitationem eos beatae reiciendis repellendus amet magni, ratione soluta libero, voluptatem sed recusandae a officiis natus molestias incidunt distinctio. Magnam distinctio mollitia aliquid ad itaque adipisci ex aspernatur ipsam, facilis cupiditate hic quia voluptatum quaerat laboriosam modi sapiente pariatur iure! Enim, voluptatem culpa voluptatibus possimus quos est maxime placeat ullam sapiente consequuntur hic, maiores provident praesentium fuga delectus quisquam quod consectetur dolorem officiis doloremque adipisci optio. Eius voluptate nobis velit. Iure eveniet laudantium non itaque impedit repellendus velit nulla odio officiis veritatis sint quasi nihil corporis minus quibusdam deserunt et, quo consequatur. Ratione inventore sed quisquam soluta temporibus esse libero id iste doloribus? Iste officia, voluptas nesciunt itaque nisi sit quibusdam nulla voluptates. Est ullam maiores molestiae magni harum provident id incidunt nam veniam ex quis doloribus esse quam atque recusandae, laboriosam omnis! Omnis ipsum optio unde odit, accusantium tempora earum laudantium facilis deleniti ipsam incidunt veniam quisquam labore in, assumenda ex! Nisi tenetur totam quod odit veniam hic quis enim sunt minus nemo, excepturi sed, dolores eaque non. Debitis facere praesentium beatae saepe eligendi omnis natus obcaecati, fugiat, laudantium, repudiandae consequatur ipsum laboriosam sapiente quaerat atque consectetur commodi? Repellat neque omnis nulla, animi mollitia, magni delectus debitis in quae veniam explicabo dicta numquam sit voluptates labore sed tempore accusantium, laudantium odio quidem quia similique et. Odio ex nostrum vitae, corporis eius distinctio debitis tempora iusto magni fugit minus hic temporibus delectus. Voluptatum, accusantium, quaerat quas eaque tempore laudantium, aliquid sapiente sint impedit aliquam dolores maiores distinctio odio harum molestias quo at reprehenderit minima aspernatur natus provident delectus aut illo dignissimos. Ratione dignissimos corporis praesentium voluptate vitae, reprehenderit architecto itaque dolore saepe iusto illum excepturi repellendus eius omnis odit, et inventore sit deleniti quis ex. Provident consequuntur saepe, adipisci praesentium perspiciatis quis rerum eius modi eveniet ab asperiores autem magni repellat exercitationem reiciendis beatae voluptatem, ipsam cumque minus? Perferendis nam deserunt, deleniti dolor voluptatum earum minima non iste veniam velit eius et ea maiores, omnis consequuntur eos libero sed laboriosam illum quae dolores voluptatibus dolorem? Maxime necessitatibus sequi neque quia ea blanditiis id non obcaecati, quae voluptas quo optio reiciendis nostrum rerum deleniti aliquid aliquam a error. Quasi dolorem porro nihil est voluptate, sunt quisquam repellendus itaque asperiores, modi laudantium autem fugit tempora laboriosam aspernatur inventore qui reiciendis maiores natus! Ullam sequi libero odio aliquid similique quasi perspiciatis illum. Quaerat exercitationem modi perferendis expedita nulla repudiandae dolorum pariatur, voluptatibus rerum corporis sit fugiat esse ratione ipsa, sunt quidem vitae, cum optio ex id quos harum deserunt fugit sint. Nemo ipsum quaerat ex architecto modi ea consequuntur necessitatibus dolorem esse sint, at suscipit! Deleniti voluptas eveniet laborum blanditiis dolore necessitatibus natus nesciunt. Nobis a aliquam quia, necessitatibus ea asperiores. Consequuntur aperiam deleniti, blanditiis neque facilis possimus aliquam ipsum laudantium ducimus, vel quam illo nesciunt officia in doloremque hic quidem eaque veritatis corporis inventore. Molestias nobis nostrum quaerat sit, iste numquam delectus quis dignissimos voluptatem ab quas impedit vitae vero fugit tenetur fuga?
        </p>
    </div>

</div>


<div class="container p-5 coinCards">
    <div class="text-center text-white  mb-5">
        <h2>COINLER</h2>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="text-center text-white p-4 m-2">
                <h3>ACOİN</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque natus, minus esse alias deserunt odit dolor incidunt sequi! In quod minus nisi fugit. Velit quam corporis omnis debitis. Odit autem odio quibusdam minima harum a dignissimos temporibus cupiditate. Nostrum perspiciatis dolores doloribus, sapiente sint incidunt dicta architecto veniam omnis maiores!</p>

            </div>
        </div>
        <div class="col-md-4">
            <div class="text-center text-white p-4 m-2">
                <h3>BCOİN</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque natus, minus esse alias deserunt odit dolor incidunt sequi! In quod minus nisi fugit. Velit quam corporis omnis debitis. Odit autem odio quibusdam minima harum a dignissimos temporibus cupiditate. Nostrum perspiciatis dolores doloribus, sapiente sint incidunt dicta architecto veniam omnis maiores!</p>

            </div>
        </div>
        <div class="col-md-4">
            <div class="text-center text-white p-4 m-2">
                <h3>CCOİN</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque natus, minus esse alias deserunt odit dolor incidunt sequi! In quod minus nisi fugit. Velit quam corporis omnis debitis. Odit autem odio quibusdam minima harum a dignissimos temporibus cupiditate. Nostrum perspiciatis dolores doloribus, sapiente sint incidunt dicta architecto veniam omnis maiores!</p>

            </div>
        </div>
    </div>
</div>

<div class="container my-5 px-5 socailLink-tarihce">
    <div class="row text-center">
        <div class="col-md-12 text-white mb-4">
            <h2>SOSYAL MEDYA LİNKLERİMİZ</h2>
            <hr>
        </div>
        <div class="col-md-3 my-3">
            <a class="btn btn-outline-light btn-floating m-1 footer-link yellow-hover hoverSocial-link" href="#!" role="button">
                <i class="fa fa-facebook-f"></i> FACEBOOK
            </a>
        </div>
        <div class="col-md-3 my-3">
            <a class="btn btn-outline-light btn-floating m-1 footer-link yellow-hover hoverSocial-link" href="#!" role="button">
                <i class="fa fa-instagram"></i> INSTAGRAM
            </a>
        </div>
        <div class="col-md-3 my-3">
            <a class="btn btn-outline-light btn-floating m-1 footer-link yellow-hover hoverSocial-link" href="#!" role="button">
                <i class="fa fa-twitter"></i> TWITTER
            </a>
        </div>
        <div class="col-md-3 my-3">
            <a class="btn btn-outline-light btn-floating m-1 footer-link yellow-hover hoverSocial-link" href="#!" role="button">
                <i class="fa fa-youtube-play"></i> YOUTUBE
            </a>
        </div>

    </div>


</div>



<div class="container my-5 px-5 sponsor-tarihce">
    <div class="row text-center text-white">
        <div class="col-md-12 text-white mb-4">
            <h2>SPONSORLARIMIZ</h2>
            <hr>
        </div>
        <div class="col-md-4 my-3">
            Lorem ipsum dolor sit amet.
        </div>
        <div class="col-md-4 my-3">
            Lorem ipsum dolor sit amet.
        </div>
        <div class="col-md-4 my-3">
            Lorem ipsum dolor sit amet.
        </div>
        <div class="col-md-4 my-3">
            Lorem ipsum dolor sit amet.
        </div>
        <div class="col-md-4 my-3">
            Lorem ipsum dolor sit amet.
        </div>
        <div class="col-md-4 my-3">
            Lorem ipsum dolor sit amet.
        </div>
    </div>


</div>

<div class="container map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d48803.550206269014!2d26.4252906!3d40.1373409!3m2!1i1024!2i768!4f13.1!5e0!3m2!1str!2str!4v1652543597815!5m2!1str!2str" width="100%" height="400" style="border:1px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>