<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/coinexen_Proje/admin/css/admin-style.css" rel="stylesheet">
</head>
<body style="background-color:#ECE5C7">
    <nav class="navbar navbar-expand-lg navbar-dark ">
        <div class="container">
            <a class="navbar-brand" href="#"><strong style="font-size:20px">Admin Paneli </strong> <span style="font-size:15px; color:grey;">@User.Identity.Name</span></a>
            <ul class="nav justify-content-end responsive-none ">
                <li class="nav-item">
                    <a href="/AdminPanel/Messages">
                        <i class="fa fa-comment-o" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="">Çıkış Yap</a>
                </li>
            </ul>
        </div>      
    </nav>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background:#143F6B !important">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/" style="color:white !important;"><strong>Kullanıcı Ana Sayfası</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/AdminPanelUsers" style="color:white !important">Üyeler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/CoinAdmin/Index" style="color:white !important">Kripto Paralar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/CategoryAdmin" style="color:white !important">Kategoriler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Order" style="color:white !important">Alım İşlemleri</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Order/Satis" style="color:white !important">Satış İşlemleri</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <div id="lastDiv"></div>
    <script>
        $(document).ready(function () {
            $("#lastDiv").nextAll("center").remove();
            setTimeout(function () {
                $("#lastDiv").nextAll("div").remove();
            }, 400);
           setTimeout(function () {
                $("#lastDiv").nextAll("div").remove();
            }, 500);
            setTimeout(function () {
                $("#lastDiv").nextAll("div").remove();
            }, 2000);
        });
    </script>
</body>
</html>