@model IEnumerable<Category>

@{
    var selectedCategory = Url.ActionContext.RouteData.Values["Id"];
}
<div class="btn-group dropend satisKategori-Mobil">
    <div class="row">
        <div class="col-md-9">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Kategoriler
            </button>
        </div>
        <div class="col-md-3">
        </div>
    </div>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li>
            <a asp-action="CoinList" asp-controller="Coins" class="dropdown-item">Tüm Kategoriler</a>
        </li>
        @foreach (var kategoriler in Model)
        {
            <a asp-action="CoinList" asp-controller="Coins" asp-route-id="@kategoriler.Id" class="dropdown-item" type="button" type="button">@kategoriler.Name</a>
        }
    </ul>
</div>





