@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<title>Admin Paneli</title>
<div class="container text-center p-4 adminlogo" >
    <img  src="~/coinexen_Proje/img/COINEXEN-removebg-preview.png" alt="Alternate Text" style=" border-radius:50%;    "/>
</div>
