@model IEnumerable<Message>
@{
    ViewBag.Title = "Messages";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<title>Mesajlar</title>
<div>

    <div class="text-center py-3" style="color:black">
        <h2>Mesajlar</h2>
    </div>


    <table class="table  table-striped mb-5">
        <thead class="table-light">
            <tr>
                <th>
                    Kullanıcı Adı
                </th>
                <th>
                    Ad
                </th>
                <th>
                    Soyad
                </th>
                <th class="responsive-none">
                    Gönderim Tarihi
                </th>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>

                @if (item.UserName == null)
                {
                    <td class="col-md">
                        Kullanıcı Kayıtlı Değil
                    </td>
                }
                else
                {
                    <td class="col-md">
                            @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                }


                <td>
                    <a href="/AdminPanel/MessageDetails/@item.Id"> @Html.DisplayFor(modelItem => item.Name) </a>

                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>



                <td class="responsive-none">
                    @Html.DisplayFor(modelItem => item.SendingDate)
                </td>

            </tr>
            }
        </tbody>


    </table>

</div>

