@{
    ViewBag.Title = "Checkout";
}
<title>Coin  Alım</title>
<div class="text-center container py-5">
    @foreach (var item in Model.CartLines)
    {
        <h2 class="text-white mb-5">@item.Coin.Name Alma İşleminizi Tamamlamak İstiyor musunuz?</h2>
    }
    @using (Html.BeginForm("Checkout", "Cart"))
    {
        @Html.Hidden("UserName", User.Identity.Name);
        <div class="my-2">
            <button type="submit" class="btn btn-success px-4">
                <i class="fa fa-check fa-lg" aria-hidden="true">  İşemi Tamamla</i>
            </button>
        </div>
    }
    <div class="my-2">
        <a type="button" href="/AlSat" class="btn btn-primary px-4">
            <i class="fa fa-arrow-left fa-lg"  aria-hidden="true">  Satın Alma Sayfasına Dön </i>
        </a>
    </div>
</div>