@{
    ViewBag.Title = "Complated";
}
<title>Coin Alım Başarılı</title>
<div class="container p-5 mt-5">
    <div class="alert alert-primary my-5 text-center" role="alert">
        <div>
            <strong>
                Coin Alma İşleminiz Başarıyla Gerçekleşti!
            </strong>
        </div>
        <div class="mt-2">
            <a type="button" href="/" class="btn btn-primary mx-2 my-2">Ana Sayfaya Dön</a>
            <a type="button" href="/UyeHesapOzet/Index" class="btn btn-warning mx-2 my-2">Hesap Özetine Git</a>
        </div>
    </div>
</div>

