<title>Ön Satışlar</title>


    <div class="container py-2 onSatis-header">

        <div class="text-center text-white mx-4">
            <h2>Yeni Projeler, Coınexen'de.</h2>
            <span>Yeni çıkan dijital varlık projelerinde ön sıralardan yerini al.</span>
        </div>
    </div>
    <div class="container my-5 satislar">
        <div class="row">
            <div class="col-md-12 text-white">
                <h3>Yakında Başlayacak Ön Satışlar</h3>
                <hr>
            </div>
            <div class="col-md-4 my-3 p-3">
                <div>
                    <table class="table table-borderless text-white">
                        <thead>
                            <tr>
                                <th colspan="2" class="text-center">ACoin</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th> Ön Satış Arzı:</th>
                                <td>150,000,000 Acoin</td>
                            </tr>
                            <tr>

                                <th>IEO Başlangıç Tarihi:</th>
                                <td>05/10/2023 12:00</td>
                            </tr>
                            <tr>

                                <th>IEO Bitiş Tarihi:</th>
                                <td>05/10/2023 12:00</td>
                            </tr>
                            <tr>

                                <td colspan="2" class="text-center">
                                    <button onclick="window.location.href='/onSatis-detay.html'" type="button" class="btn">Detaya Git</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-4 my-3 p-3">
                <div>
                    <table class="table table-borderless text-white">
                        <thead>
                            <tr>
                                <th colspan="2" class="text-center">ACoin</th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr>
                                <th> Ön Satış Arzı:</th>
                                <td>150,000,000 Acoin</td>
                            </tr>
                            <tr>

                                <th>IEO Başlangıç Tarihi:</th>
                                <td>05/10/2023 12:00</td>
                            </tr>
                            <tr>

                                <th>IEO Bitiş Tarihi:</th>
                                <td>05/10/2023 12:00</td>
                            </tr>
                            <tr>

                                <td colspan="2" class="text-center">
                                    <button onclick="window.location.href='/onSatis-detay.html'" type="button" class="btn">Detaya Git</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="container my-5 satislar">
                <div class="row">
                    <div class="col-md-12 text-white">
                        <h3>Tamamlanan Ön Satışlar</h3>
                        <hr>
                    </div>
                    <div class="col-md-4 my-3 p-3">
                        <div>
                            <table class="table table-borderless text-white">
                                <thead>
                                    <tr>
                                        <th colspan="2" class="text-center">ACoin</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr>
                                        <th> Ön Satış Arzı:</th>
                                        <td>150,000,000 Acoin</td>
                                    </tr>
                                    <tr>

                                        <th>IEO Başlangıç Tarihi:</th>
                                        <td>05/10/2023 12:00</td>
                                    </tr>
                                    <tr>

                                        <th>IEO Bitiş Tarihi:</th>
                                        <td>05/10/2023 12:00</td>
                                    </tr>
                                    <tr>

                                        <td colspan="2" class="text-center">
                                            <button onclick="window.location.href='/onSatis-detay.html'" type="button" class="btn">Detaya Git</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-4 my-3 p-3">
                        <div>
                            <table class="table table-borderless text-white">
                                <thead>
                                    <tr>
                                        <th colspan="2" class="text-center">ACoin</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr>
                                        <th> Ön Satış Arzı:</th>
                                        <td>150,000,000 Acoin</td>
                                    </tr>
                                    <tr>

                                        <th>IEO Başlangıç Tarihi:</th>
                                        <td>05/10/2023 12:00</td>
                                    </tr>
                                    <tr>

                                        <th>IEO Bitiş Tarihi:</th>
                                        <td>05/10/2023 12:00</td>
                                    </tr>
                                    <tr>

                                        <td colspan="2" class="text-center">
                                            <button onclick="window.location.href='/onSatis-detay.html'" type="button" class="btn">Detaya Git</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-4 my-3 p-3">
                        <div>
                            <table class="table table-borderless text-white">
                                <thead>
                                    <tr>
                                        <th colspan="2" class="text-center">ACoin</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr>
                                        <th> Ön Satış Arzı:</th>
                                        <td>150,000,000 Acoin</td>
                                    </tr>
                                    <tr>

                                        <th>IEO Başlangıç Tarihi:</th>
                                        <td>05/10/2023 12:00</td>
                                    </tr>
                                    <tr>

                                        <th>IEO Bitiş Tarihi:</th>
                                        <td>05/10/2023 12:00</td>
                                    </tr>
                                    <tr>

                                        <td colspan="2" class="text-center">
                                            <button onclick="window.location.href='/onSatis-detay.html'" type="button" class="btn">Detaya Git</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-4 my-3 p-3">
                        <div>
                            <table class="table table-borderless text-white">
                                <thead>
                                    <tr>
                                        <th colspan="2" class="text-center">ACoin</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr>
                                        <th> Ön Satış Arzı:</th>
                                        <td>150,000,000 Acoin</td>
                                    </tr>
                                    <tr>

                                        <th>IEO Başlangıç Tarihi:</th>
                                        <td>05/10/2023 12:00</td>
                                    </tr>
                                    <tr>

                                        <th>IEO Bitiş Tarihi:</th>
                                        <td>05/10/2023 12:00</td>
                                    </tr>
                                    <tr>

                                        <td colspan="2" class="text-center">
                                            <button onclick="window.location.href='/onSatis-detay.html'" type="button" class="btn">Detaya Git</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-4 my-3 p-3">
                        <div>
                            <table class="table table-borderless text-white">
                                <thead>
                                    <tr>
                                        <th colspan="2" class="text-center">ACoin</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr>
                                        <th> Ön Satış Arzı:</th>
                                        <td>150,000,000 Acoin</td>
                                    </tr>
                                    <tr>

                                        <th>IEO Başlangıç Tarihi:</th>
                                        <td>05/10/2023 12:00</td>
                                    </tr>
                                    <tr>

                                        <th>IEO Bitiş Tarihi:</th>
                                        <td>05/10/2023 12:00</td>
                                    </tr>
                                    <tr>

                                        <td colspan="2" class="text-center">
                                            <button onclick="window.location.href='/onSatis-detay.html'" type="button" class="btn">Detaya Git</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-4 my-3 p-3">
                        <div>
                            <table class="table table-borderless text-white">
                                <thead>
                                    <tr>
                                        <th colspan="2" class="text-center">ACoin</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr>
                                        <th> Ön Satış Arzı:</th>
                                        <td>150,000,000 Acoin</td>
                                    </tr>
                                    <tr>

                                        <th>IEO Başlangıç Tarihi:</th>
                                        <td>05/10/2023 12:00</td>
                                    </tr>
                                    <tr>

                                        <th>IEO Bitiş Tarihi:</th>
                                        <td>05/10/2023 12:00</td>
                                    </tr>
                                    <tr>

                                        <td colspan="2" class="text-center">
                                            <button onclick="window.location.href='/onSatis-detay.html'" type="button" class="btn">Detaya Git</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-4 my-3 p-3">
                        <div>
                            <table class="table table-borderless text-white">
                                <thead>
                                    <tr>
                                        <th colspan="2" class="text-center">ACoin</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr>
                                        <th> Ön Satış Arzı:</th>
                                        <td>150,000,000 Acoin</td>
                                    </tr>
                                    <tr>

                                        <th>IEO Başlangıç Tarihi:</th>
                                        <td>05/10/2023 12:00</td>
                                    </tr>
                                    <tr>

                                        <th>IEO Bitiş Tarihi:</th>
                                        <td>05/10/2023 12:00</td>
                                    </tr>
                                    <tr>

                                        <td colspan="2" class="text-center">
                                            <button onclick="window.location.href='/onSatis-detay.html'" type="button" class="btn">Detaya Git</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-4 my-3 p-3">
                        <div>
                            <table class="table table-borderless text-white">
                                <thead>
                                    <tr>
                                        <th colspan="2" class="text-center">ACoin</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr>
                                        <th> Ön Satış Arzı:</th>
                                        <td>150,000,000 Acoin</td>
                                    </tr>
                                    <tr>

                                        <th>IEO Başlangıç Tarihi:</th>
                                        <td>05/10/2023 12:00</td>
                                    </tr>
                                    <tr>

                                        <th>IEO Bitiş Tarihi:</th>
                                        <td>05/10/2023 12:00</td>
                                    </tr>
                                    <tr>

                                        <td colspan="2" class="text-center">
                                            <button onclick="window.location.href='/onSatis-detay.html'" type="button" class="btn">Detaya Git</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-4 my-3 p-3">
                        <div>
                            <table class="table table-borderless text-white">
                                <thead>
                                    <tr>
                                        <th colspan="2" class="text-center">ACoin</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr>
                                        <th> Ön Satış Arzı:</th>
                                        <td>150,000,000 Acoin</td>
                                    </tr>
                                    <tr>

                                        <th>IEO Başlangıç Tarihi:</th>
                                        <td>05/10/2023 12:00</td>
                                    </tr>
                                    <tr>

                                        <th>IEO Bitiş Tarihi:</th>
                                        <td>05/10/2023 12:00</td>
                                    </tr>
                                    <tr>

                                        <td colspan="2" class="text-center">
                                            <button onclick="window.location.href='/onSatis-detay.html'" type="button" class="btn">Detaya Git</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-4 my-3 p-3">
                        <div>
                            <table class="table table-borderless text-white">
                                <thead>
                                    <tr>
                                        <th colspan="2" class="text-center">ACoin</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr>
                                        <th> Ön Satış Arzı:</th>
                                        <td>150,000,000 Acoin</td>
                                    </tr>
                                    <tr>

                                        <th>IEO Başlangıç Tarihi:</th>
                                        <td>05/10/2023 12:00</td>
                                    </tr>
                                    <tr>

                                        <th>IEO Bitiş Tarihi:</th>
                                        <td>05/10/2023 12:00</td>
                                    </tr>
                                    <tr>

                                        <td colspan="2" class="text-center">
                                            <button onclick="window.location.href='/onSatis-detay.html'" type="button" class="btn">Detaya Git</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>




                </div>
            </div>









        </div>

    </div>






