@model IEnumerable<Category>
@{
    var selectedCategory = Url.ActionContext.RouteData.Values["id"];
}


<div class="list-group list-group-horizontal text-center satisKategori">
    <a href="/AlSat/Index/" class="list-group-item list-group-item-action" type="button"><strong>Tüm Coinler</strong></a>

    @foreach (var kategoriler in Model)
    {

        if (selectedCategory != null)
        {
            if (kategoriler.Id == Guid.Parse(selectedCategory.ToString()))
            {
                <a href="/AlSat/Index/@kategoriler.Id" class="list-group-item list-group-item-action active-link" type="button">@kategoriler.Name</a>
            }
            else
            {
                <a href="/AlSat/Index/@kategoriler.Id" class="list-group-item list-group-item-action " type="button">@kategoriler.Name</a>
            }
        }
        else
        {
            <a href="/AlSat/Index/@kategoriler.Id" class="list-group-item list-group-item-action " type="button">@kategoriler.Name</a>
        }
    }
</div>
