
@{
    ViewBag.Title = "DeleteSucces";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "Complated";
}
<title>Coin Satış Başarılı</title>

<div class="container p-5 mt-5">
    <div class="alert alert-danger my-5 text-center" role="alert">
        <div>
            <strong>
                Coin Satma İşleminiz Başarıyla Gerçekleşti!

            </strong>
            <div class="mt-2">
                <a type="button" href="/" class="btn btn-primary m-2">Ana Sayfaya Dön</a>
                <a type="button" href="/UyeHesapOzet/Index" class="btn btn-warning m-2">Hesap Özetine Git</a>
            </div>
        </div>
    </div>

</div>

